
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}


.app-background {
  text-align: center;
  background-size: cover;
  padding: 5vh 3vw;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  height: 2000px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app-card {
  --tw-bg-opacity: 1;
  background-color: rgba(28, 25, 23, var(--tw-bg-opacity));
  height: 100%;
  border-radius: 24px;
}


.header{
  height: 100px;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}

.header-name {
  color: white;
  font-size: x-large;
  text-align: left;
}

.header-items {
  color: white;
  font-size: large;
  text-align: left;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.about-title{
  display: flex;
  justify-content: center;
}